.Card {
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  padding: 35px 20px;
  gap:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  position: relative;

  &-remove{
    position: absolute;
    right: 20px;
    top: 20px;
    color: red;
    cursor: pointer;
  }
  &__photo {
    width: 112px;
    height: 112px;
    object-fit: cover;
    filter: drop-shadow(0px 7px 15px rgba(189, 189, 189, 0.23));
    border-radius: 50%;
  }

  &__content{
    display: grid;
    gap: 5px;


    &__name {
      font-size: 16px;
      font-weight: 500;
      color: #222;
    }

    &__email {
      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        color: #ccc;
      }
    }
  }

  &:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 24px 5px rgba(116, 141, 255, 0.25);
  }
}